.quarto-title-block .quarto-title-banner {
  background-image: url(img/corplogo120.png);
  background-size: 170px;
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-origin: content-box;
  color: #554838;
}

body {
  color: #29241d;
}

/* 
/* Force the title text to your dark brown */
header#title-block-header .title {
  color: #495c3f !important;
}

/* Change title block banner background colour */
.quarto-title-block .quarto-title-banner {
  background-color: #e9e4cc !important;
}


/* Make navbar text darker and larger */
.navbar,
.navbar .navbar-nav {
  text-align: center !important;
}

.navbar,
.navbar .navbar-nav .nav-link,
.navbar .navbar-brand {
  color: #222222 !important;          /* dark grey, or use #146C43 for green */
  font-size: large !important;      /* slightly larger than default */
  font-weight: 500;                   /* semi-bold for legibility */
}

/* Ensure hover & active items stay readable */
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: #56580c !important;          /* Ezemvelo green on hover */
  text-decoration: none;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .show > .nav-link {
  color: #56580c !important;
  font-weight: 600;
}

/* Dropdown menu text: clearer and slightly larger */

.dropdown-menu {
  font-size: 1.4rem;
}

.dropdown-item {
  color: #222222;
  background-color: #9b8a75;
  font-size: large;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #f3f5b4;
  background-color: #655f5f;  /* light green hover */
}

.navbar {
  background-color: #d8d1b1 !important;  /* match your title-block banner */
}
